<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="JensenSuite" parallel="false">
<!-- 	<test name="JensenLoginTestChrome">
		<parameter name="broswerName" value="chrome" />
		<classes>
			<class name="com.janssen.spkportalautomate.tests.LoginTest" />
		</classes>
	</test> -->

	<test name="JensenLoginTestIE">
		<parameter name="broswerName" value="ie" />
		<classes>
			<class name="com.janssen.spkportalautomate.tests.LoginTest" />
		</classes>
	</test>
</suite>
